#pb-submission-form #edit-header {
/* override default panel styles */
	background: none;
	border: 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}

#pb-submission-form #edit-header .help-block {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

#pb-submission-form #edit-header ol {
	border-bottom: 1px solid #575551;
	padding: 1em;
}

#pb-submission-form #edit-header ol li {
	display: inline-block;
	width: 30%;
	text-align: center;
}

#pb-submission-form #edit-header ol li.active {
	font-weight: bold;
}

#pb-submission-form .help-block p {
/* paragraph text doesn't get help block styles */
	font-size: 14px;
	color: #333333;
}